:root {
	--main-bg-grad: linear-gradient(rgba(239, 241, 245, 1), rgba(223, 226, 231, 1));
	/* --main-bg-grad: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(223, 226, 231, 1)); */
	--yellow: rgb(254, 201, 7);
	--text-color: rgb(108, 114, 132);
	--text-extra-soft-color: rgba(108, 114, 132, 0.534);
}

.App {
	/* text-align: center; */
	/* background-color: rgba(241, 242, 246); */
	background-image: var(--main-bg-grad);
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
